# copy to .env and fill
MONGO_URI=mongodb://localhost:27017/importa_e_lucra
ADMIN_EMAIL=admin@example.com
SUPPORT_EMAIL=suporte@mundodaimportacao.com

RESEND_API_KEY=your-resend-api-key
RESEND_FROM="Equipa da Importacao com Lucro <no-reply@seu-dominio.com>"

# optionally, set PORT for the server
PORT=5000

CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_API_SECRET=your-cloudinary-api-secret
CLOUDINARY_FOLDER=importa-e-lucra

